.main-section {
  height: 100%;
  width: 100%;

  .hero-title-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 40%;
    text-align: center;

    .title {
      font-size: 3rem;
      font-weight: 600;
    }

    .subtitle {
      color: gray;
      font-size: 0.9rem;
    }

    .custom-button {
      animation: pulse 2s ease-in infinite;
    }

    @keyframes pulse {
      25% {
        transform: scale(0.95);
      }
      95% {
        transform: scale(1);
      }
    }

    .record{
      width: 50%;
    }
  }

  .hero-img {
    height: 100%;
    flex-basis: 60%;
    background-image: url("../../../assets/images/2889686.jpg");
  }

  .text {
    font-weight: 500;
  }

  .muted-text {
    color: gray;
  }
}

@media (max-width: 480px) {
  .hero-title-section {
    flex-basis: 100% !important;
    .record{
      width: 100%;
      font-size: 0.9rem;
    }
  }

  .hero-img {
    display: none;
  }
}
