/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import '~bootstrap/scss/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  height: 100%;
  overscroll-behavior-y: none; // mac overscroll behavioure
  scroll-behavior: smooth;
  //overflow-y: hidden;
}


.btn-primary:focus,
.btn-primary:active{
    box-shadow:none !important;
    outline:0px !important;
}

.btn-primary{
    background-color: #2563ef !important;
    border-color: #2563ef !important;
}

.btn-primary:hover{
    background-color: #0944ce !important;
    border-color: #0944ce !important;
}